.navbar{
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    padding: 15px;
}

.links {
   margin-left: auto;
   width: 300px;
   display: flex;
   justify-content: space-between;
}

.icon  {
    width: 20px;
    height: 20px
}
